/*
Theme Name: cloudlink

Author: Tecglobe team

*/


html {
	font-size: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	overflow-X: hidden;
	padding-top: 116px;
}
::-moz-selection {
 background: #1b7ea7;
 color: #fff;
}
::selection {
	background:#1b7ea7;
	color: #fff;
}
h1, h2, h3, h4,h5 {
  line-height: 1.2em;
  text-transform: capitalize;
  font-family: 'Merriweather', serif;
  color:#393a3c;
  font-weight:700;
}
h1 {
	font-size:3.291em;
}
h2 {
	font-size:2.500em;	
}
h3{
	font-size:1.438em;	
}
h4{
	font-size: 1.125em;
}
h5{
	font-size: 1em;
}
p{
	font-size:1em;
	line-height:1.6em;
}

.section-title{
	 margin-bottom: 25px;
	 padding-bottom: 10px;
	 position:relative;
	 display:inline-block;
}
.section-title::before {    
    position: absolute;
    content: '';
    left: -70px;
    top: 20px;
    height: 7px;
    width: 60px;
    background: #be996f;
}
.white{
	color:#fff;
}
a {
	color:#404548;
}
a:active,  a:hover,  a:focus {
	text-decoration: none !important;
	color:#1b7ea7!important;
	outline: none;
}

.themebtn {
	background:#25aae1;
	border: 0;
	border-radius: 0px;
	box-shadow: none;
	color: #fff;
	font-weight: 600;
	margin-top: 20px;
	padding: 16px 34px;
	text-shadow: none;
	transition: all 0.3s ease-in-out 0s;
	text-transform: capitalize;
	 
}
.themebtn:hover,
 .themebtn:active, 
 .themebtn:focus {
	transition: all 0.3s ease-in-out 0s;
	background:#1b7ea7;
	color:#fff!important;
}
.thborder {
    background: none;
    border: 5px solid #fff;
    padding: 14px 34px;
	color:#fff;
}
.thborder:hover,
.thborder:focus,
.thborder:active{
	 border: 5px solid #1b7ea7;
	 background:#1b7ea7;
	
}
.social {
	margin-bottom: 0;
}
.social li {
	display: inline-block;
}
.social li + li {
	margin-left: 4px;
}
.social li a {
	color: #fff;
	font-size: 1.250em;
	transition: all 0.3s ease-in-out 0s;
	background: #25aae1;
	width: 42px;
	height: 42px;
	display: flex;
	justify-content:center;
	align-items:center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
li.f:hover a {
	background: #3b5998;
}
li.t:hover a {
	background: #55acee;
}
li.g:hover a {
	background: #dd4b39;
}
li.y:hover a {
	background: #bb0000;
}
li.l:hover a {
	background: #007bb5;
}
li.i:hover a {
	background: #125688;
}
li.p:hover a {
	background: #D50C22;
}
  section{
	      padding: 61px 0 76px;
  }
 

body.admin-bar {
    margin-top: -13px;
}

body.admin-bar .site-header {
    top: 32px;
}
  
/*   global css end   */



/*   header  start  */
.site-header {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
	z-index: 99;
	
}

.navbar-default {
    border: none !important;
	margin-bottom:0;
	background:#fff;
}

.site-header .navbar-nav{
	float:right;
}

.navbar-default .navbar-brand {
    height: auto;
	padding: 14px 15px;
}
.navbar-default .navbar-nav > li{
       margin-left: 36px;
}
.navbar-default .navbar-nav > li > a {
    transition: 0.3s all ease-in-out;
   	color:#404548 !important;
    border: 0;
    box-shadow: none ;
    text-shadow: none ;
    background: none ;
    padding: 48px 0px;
    text-transform: capitalize;
    position: relative;
	font-weight:600;
}
.navbar-default .navbar-nav > li.current-menu-item > a{
	color:#404548;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:#393a3c;
}
.navbar-default .navbar-nav > li > a::after {
    background: #f7941e none repeat scroll 0 0;
    height: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease;
    width: 0;
    margin: auto;
}
.navbar-default .navbar-nav > li > a::after,.navbar-default .navbar-nav > li > a::before {
    position: absolute;
    content: '';
}
.navbar-default .navbar-nav > li:hover > a::after,
 .navbar-default .navbar-nav > li:active > a::after, 
 .navbar-default .navbar-nav > li:focus > a::after,
 .navbar-default .navbar-nav > li.current-menu-item > a::after {
    transition: all 0.3s ease;
    width: 100%;	
}
.navbar-default .navbar-nav > li.menu-quote a{
    position: static;
    margin-top: 41px;
    padding: 8px 10px;
    color: #fff !important;
    background: #25aae1;
}
.navbar-default .navbar-nav > li.menu-quote a::after,.navbar-default .navbar-nav > li.menu-quote a::before{
	display:none;
}
.navbar-default .navbar-nav > li.menu-quote a:hover{
	 background: #25aae1;
	 transition: all 0.3s ease;
}


/*  header End */



/* banner start  */
.banner-section{
	padding:0;
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
	}
.banner-img span{
	position:relative;
}
.banner-img span::after{
    background: rgba(13, 56, 75, 0.55);
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
}
.banner-img span .themebtn {
    position: absolute;
    top:0;
    z-index: 1;
    left:0;
	margin:auto;
	right:0;
	bottom:0;
    max-width: 250px;
    height: 60px;
	
}

/* banner end  */
.site-footer p{
    margin-bottom: 0;
    font-size: 0.875em;
    padding: 20px 0px;
    font-weight: 600;
	color:#434445;
}
